<div class="center">
  <h1>Solicitações de devolução</h1>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Data</th>
        <th scope="col">Usuário</th>
        <th scope="col">Produto</th>
        <th scope="col">Status</th>
        <th scope="col">Ação</th>
      </tr>
    </thead>
    
    <tbody>
      <% @return_requests.each do |return_request| %>
        <tr>
          <td><%= return_request.created_at%></td>
          <td><%= return_request.user.first_name%></td>
          <td><%= return_request.item.product.name %></td>
          <td><%= return_request.status %></td>
          <td><%= link_to 'Visualizar', return_request_path(return_request) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
