<h1>Solicitação de troca do produto <%= @return_request.item.product.name %></h1>

<p>Data de solicitação: <%= @return_request.created_at %></p>
<p>Status: <%= @return_request.status %></p>
<p>Valor unitário: <%= @return_request.item.stock.price %></p>
<p>Quantidade: <%= @return_request.quantity %></p>

<h1>Update status</h1>

<%= simple_form_for @return_request, url: return_request_path(@return_request), method: :put do |f| %>
  <%= f.select :status, [['Pendente de aprovação', 'pending'], ['Confirmado', 'confirmed'], ['Gerado cupom', 'completed']] %>
  <%= f.submit 'Atualizar status' %>
<% end %>