<div class="center">
  <h1>Items disponíveis</h1>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Título</th>
        <th scope="col">Autor</th>
        <th scope="col">Ano</th>
        <th scope="col">Preço</th>
        <th scope="col">Ação</th>
      </tr>
    </thead>
    
    <tbody>
      <% @items_available.each do |item| %>
        <tr>
          <td><%= item.product.name %></td>
          <td><%= item.product.author %></td>
          <td><%= item.product.year %></td>
          <td><%= item.price %></td>
          <td><%= link_to 'Visualizar', shop_item_path(item.id) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>