<h1>Nome: <%=@item_stock.product.name %></h1>

<p>Descrição: <%=@item_stock.product.description %></p>
<p>Preço: <%=@item_stock.price %></p>

<%= form_for @order_item, remote: true do |f| %>
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <p>Quantidade: <%= f.select :quantity, (1..@item_stock.quantity) %></p>
  <%= f.hidden_field :stock_id, value: @item_stock.id %>
  <%= f.submit "Add to Cart", class: "custom-button text-sm" %>
<% end %>

<p>Autor: <%=@item_stock.product.author %></p>
<p>Categoria: <%=@item_stock.product.category.name %></p>
<p>Ano: <%=@item_stock.product.year %></p>
<p>Editora: <%=@item_stock.product.publisher %></p>
<p>Edição: <%=@item_stock.product.edition %></p>
<p>ISBN: <%=@item_stock.product.isbn %></p>
<p>Páginas: <%=@item_stock.product.pages %></p>
<p>Dimensões: <%=@item_stock.product.dimensions %></p>
<p>Código de barras: <%=@item_stock.product.barcode %></p>