<div class="card">
  <div class="card-header">
    <h1><%=@item_stock.product.name %></h1>
  </div>

  <div class="card-body">
    <div class="row">
      <div class="col">
        <%= image_tag @item_stock.product.images.first %>
      </div>

      <div class="col">
          <h2>Descrição</h2>
          <p><%= @item_stock.product.description %></p>
          <h3>Preço: <%= number_to_currency @item_stock.price %></h3>
          
          <%= form_for @order_item, remote: true do |f| %>
            <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
            <p>Quantidade: <%= f.select :quantity, (1..@item_stock.quantity), class: 'form-control' %></p>
            <%= f.hidden_field :stock_id, value: @item_stock.id %>
            <%= f.submit "Adicionar ao carrinho", class: "btn btn-success" %>
          <% end %>
          
          <hr>

          <h2>Informações</h2>
          <p>Autor: <%=@item_stock.product.author %></p>
          <p>Categoria: <%=@item_stock.product.category.name %></p>
          <p>Ano: <%=@item_stock.product.year %></p>
          <p>Editora: <%=@item_stock.product.publisher %></p>
          <p>Edição: <%=@item_stock.product.edition %></p>
          <p>ISBN: <%=@item_stock.product.isbn %></p>
          <p>Páginas: <%=@item_stock.product.pages %></p>
          <p>Dimensões: <%=@item_stock.product.dimensions %></p>
          <p>Código de barras: <%=@item_stock.product.barcode %></p>
      </div>
    </div>
  </div>
</div>
