<div class="row">
  <div class="col-md-8 center">
    <div class="card">
      <div class="card-header">
        <h1>Meio de pagamento</h1>
      </div>

      <div class="card-body">

        <div class="form-group">
          <div class="row">
            <div class="col">
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#creditCardsModal">
                Selecionar cartões de crédito
              </button>
            </div>
          </div>
        </div>

        <%= form_for @checkout, url: payment_index_url, method: :post do |f| %>
          <h4>Primeiro cartão de crédito</h4>

          <div class="form-group">
            <div class="row">
              <div class="col">
                <%= label_tag :number1, 'Número do cartão de crédito' %>
                <%= text_field_tag :number1, @credit_card ? @credit_card.number : "", class: 'form-control' %>
              </div>

              <div class="col">
                <%= label_tag :name1, 'Nome (como escrito no cartão)' %>
                <%= text_field_tag :name1, @credit_card ? @credit_card.name : "", class: 'form-control' %>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="row">
              <div class="col">
                <%= label_tag :expire_date1, 'Validade' %>
                <%= text_field_tag :expire_date1, @credit_card ? @credit_card.expire : "", class: 'form-control' %>
              </div>

              <div class="col">
                <%= label_tag :ccv1, 'CVC' %>
                <%= text_field_tag :ccv1, @credit_card ? @credit_card.cvc : "", class: 'form-control' %>
              </div>
            </div>
          </div>

          <hr>

          <h4>Segundo cartão de crédito (opcional)</h4>

          <div class="form-group">
            <div class="row">
              <div class="col">
                <%= label_tag :number2, 'Número do cartão de crédito' %>
                <%= text_field_tag :number2, @credit_card ? @credit_card.number : "", class: 'form-control' %>
              </div>

              <div class="col">
                <%= label_tag :name2, 'Nome (como escrito no cartão)' %>
                <%= text_field_tag :name2, @credit_card ? @credit_card.name : "", class: 'form-control' %>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="row">
              <div class="col">
                <%= label_tag :expire_date2, 'Validade' %>
                <%= text_field_tag :expire_date2, @credit_card ? @credit_card.expire : "", class: 'form-control' %>
              </div>

              <div class="col">
                <%= label_tag :ccv2, 'CVC' %>
                <%= text_field_tag :ccv2, @credit_card ? @credit_card.cvc : "", class: 'form-control' %>
              </div>
            </div>
          </div>

          <hr>

          <%= hidden_field_tag :checkout_id, @checkout.id %>
          <%= check_box_tag :save_credit_card %>
          <%= label_tag :save_credit_card, 'Salvar cartão'%>

          <%= f.submit 'Finalizar compra', class: 'btn btn-primary float-right' %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= render 'credit_cards_modal' %>