<div class="card">
  <div class="card-header">
    <h1>Pedidos</h1>
  </div>

  <div class="card-body">
    <table class="table">
      <tr>
        <th>ID</th>
        <th>Cliente</th>
        <th>Date</th>
        <th>Status</th>
      </tr>
      <% @orders.each do |order| %>
        <tr>
          <td><%= link_to order.id, order_path(order) %></td>
          <td><%= order.user.first_name %> <%= order.user.last_name %></td>
          <td><%= order.created_at %></td>
          <td><%= order.status %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
