<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-md-6">
        <h3>Subtotal: <%= number_to_currency(@order.order.subtotal) %> (dividido igualmente em <%= @order.checkout_credit_cards.count %> cartões de crédito)</h3>
    
        <table>
          <tr>
            <th>Item</th>
            <th>Quatidade</th>
            <th>Preço unitário</th>
            <th>Total</th>
          </tr>
          <% @order.order.order_items.each do |order_item| %>
            <tr>
              <td><%= order_item.stock.product.name %></td>
              <td><%= order_item.quantity %></td>
              <td><%= number_to_currency(order_item.unit_price) %></td>
              <td><%= number_to_currency(order_item.total_price) %></td>
            </tr>
          <% end %>
        </table>
      </div>
    
      <div class="col-md-6">
        <div>
          <h3>Cliente</h3>
          <p>ID: <%= @order.user_id %></p>
          <p>Name: <%= @order.first_name %> <%= @order.last_name %> </p>
        </div>
      
        <div>
          <h3>Endereço de entrega</h3>
          <p>Shipping address: <%= @order.shipping_address %></p>
          <p>Shipping suburb: <%= @order.shipping_suburb %></p>
          <p>Shipping ZIP code: <%= @order.shipping_zip %></p>
          <p>Shipping State: <%= @order.shipping_state %></p>
        </div>
      
        <div>
          <h3>Endereço de cobrança</h3>
          <p>Billing address: <%= @order.billing_address %></p>
          <p>Billing suburb: <%= @order.billing_suburb %></p>
          <p>Billing ZIP code: <%= @order.billing_zip %></p>
          <p>Billing State: <%= @order.billing_state %></p>
        </div>
      
        <div>
          <h3>Cartão para pagamento</h3>
          <% @order.checkout_credit_cards.each do |credit_card| %>
            Número: <%= credit_card.number %><br>
            Nome: <%= credit_card.name %><br>
            CCV: <%= credit_card.cvc %><br>
            Validade: <%= credit_card.expire %><br>
            <hr>
          <% end %>
        </div>
      
        <h1>Atualizar status</h1>
        
        <%= simple_form_for @order, url: order_path(@order), method: :put do |f| %>
          <%= f.select :status, [['Aguardando confirmação', 'waiting_for_confirmation'], ['Confirmado', 'confirmed'], ['Em trânsito', 'in_transit'], ['Entregue', 'delivered']] %>
          <%= f.submit 'Update status' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
