<div class="center">
  <h1>Order Confirmation #<%= @order.slug %></h1>

  <div class="row">
    <div class="col-md-6">
      <h3>Subtotal: <%= number_to_currency(@order.order.subtotal) %></h3>
  
      <table>
        <tr>
          <th>Item</th>
          <th>Quantity</th>
          <th>Unit price</th>
          <th>Total</th>
        </tr>
        <% @order.order.order_items.each do |order_item| %>
          <tr>
            <td><%= order_item.item.product.name %></td>
            <td><%= order_item.quantity %></td>
            <td><%= number_to_currency(order_item.unit_price) %></td>
            <td><%= number_to_currency(order_item.total_price) %></td>
          </tr>
        <% end %>
      </table>
    </div>
  
    <div class="col-md-6">
      <div>
        <h3>Client</h3>
        <p>ID: <%= @order.user_id %></p>
        <p>Name: <%= @order.first_name %> <%= @order.last_name %> </p>
      </div>
    
      <div>
        <h3>Shipping address</h3>
        <p>Shipping address: <%= @order.shipping_address %></p>
        <p>Shipping suburb: <%= @order.shipping_suburb %></p>
        <p>Shipping ZIP code: <%= @order.shipping_zip %></p>
        <p>Shipping State: <%= @order.shipping_state %></p>
      </div>
    
      <div>
        <h3>Billing address</h3>
        <p>Billing address: <%= @order.billing_address %></p>
        <p>Billing suburb: <%= @order.billing_suburb %></p>
        <p>Billing ZIP code: <%= @order.billing_zip %></p>
        <p>Billing State: <%= @order.billing_state %></p>
      </div>
    
      <div>
        <h3>Payment</h3>
        <p>Credit card number: <%= @order.credit_card_number %></p>
        <p>Credit card name: <%= @order.credit_card_name %></p>
        <p>Credit card expire date: <%= @order.credit_card_expire_date %></p>
        <p>Credit card CCV: <%= @order.credit_card_ccv %></p>
      </div>
    
      <h1>Update status</h1>
      
      <%= simple_form_for @order, url: order_path(@order), method: :put do |f| %>
        <%= f.select :status, [['Aguardando confirmação', 'waiting_for_confirmation'], ['Confirmado', 'confirmed'], ['Em trânsito', 'in_transit'], ['Entrege', 'delivered']] %>
        <%= f.submit 'Update status' %>
      <% end %>
    </div>
  </div>
  
</div>
