<p id="notice"><%= notice %></p>

<p>
  <strong>Author:</strong>
  <%= @product.author %>
</p>

<p>
  <strong>Year:</strong>
  <%= @product.year %>
</p>

<p>
  <strong>Title:</strong>
  <%= @product.title %>
</p>

<p>
  <strong>Publisher:</strong>
  <%= @product.publisher %>
</p>

<p>
  <strong>Edition:</strong>
  <%= @product.edition %>
</p>

<p>
  <strong>Isbn:</strong>
  <%= @product.isbn %>
</p>

<p>
  <strong>Pages:</strong>
  <%= @product.pages %>
</p>

<p>
  <strong>Synopsis:</strong>
  <%= @product.synopsis %>
</p>

<p>
  <strong>Dimensions:</strong>
  <%= @product.dimensions %>
</p>

<p>
  <strong>Barcode:</strong>
  <%= @product.barcode %>
</p>

<p>
  <strong>Active:</strong>
  <%= @product.active %>
</p>

<p>
  <strong>Activation reason:</strong>
  <%= @product.activation_reason %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
