<% if !@order_item.nil? && @order_item.errors.any? %>
  <div class="alert alert-danger">
    <ul>
    <% @order_item.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<% if @order_items.size == 0 %>
  <div class="center text-center">
    <p>There aren't any items in your shopping cart.</p>  
    <p>Please <%= link_to "go back", items_path %> and add some items to your cart.</p>
  </div>
<% else %>
  <div class="cart">
    <h2>Shopping Cart</h2>
    <p>You have <b><%= current_order.order_items.size > 1 ? current_order.order_items.size.to_s + " items" : current_order.order_items.size.to_s + " item" %></b> in your shopping cart</p>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Produto</th>
        <th scope="col">Quantidade</th>
        <th scope="col">Preço unitário</th>
        <th scope="col">Preço total</th>
        <th scope="col" colspan="2">Ação</th>
      </tr>
    </thead>
    
    <tbody>
      <% @order_items.each do |order_item| %>
        <tr>
          <td><%= order_item.item.product.name %></td>
          <td><%= order_item.quantity %></td>
          <td><%= order_item.item.stock.price %></td>
          <td><%= order_item.quantity * order_item.item.stock.price %></td>
          <td>
            <%= form_for order_item, remote: true do |f| %>
              <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
              <%= f.hidden_field :item_id, value: order_item.item.product.id %>
              <%= f.select :quantity, (1..order_item.item.available_quantity), {}, value: order_item.quantity.to_i %>
              <%= button_to "Atualizar quantidade", method: :patch %>
            <% end %>
          </td>
          <td>
            <%= button_to 'Remover do carrinho', order_item, method: :delete, class: 'btn btn-danger btn-responsive', data: {confirm: 'Tem certeza?'} %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
    

    <div class="cart-finish">
      <h3 class="cart-total">Total: <%= number_to_currency @order.subtotal %></h3>
      <%= link_to "Checkout Now", new_checkout_path(order_id: @order.id), class: "custom-button" %>
    </div>
  </div>
<% end %>