<div class="col-md-6 center">
  <div class="card">
    <div class="card-body">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-group">
          <div class="row">
            <div class="col">
              <%= f.text_field :email, class: 'form-control', placeholder: 'Email' %>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col">
              <%= f.password_field :password, class: 'form-control', placeholder: 'Senha' %>
            </div>
          </div>
        </div>

        <%= f.submit "Entrar", class: 'btn btn-primary' %>
      <% end %>
  
      <hr>
  
      <%= render "devise/shared/links" %>
    </div>
  </div>  
</div>
