<div class="checkout">
  <%= simple_form_for @checkout, :html => { :multipart => true, :id => "checkout-form" }, validate: true do |f| %>
    <%= hidden_field_tag(:order_id, @order.id) %>
    <!-- Stripe server errors -->
    <%= f.error :base %>

    <div class="checkout-section checkout-personal">
      <h2>Personal Details</h2>
      <%= f.input :first_name, input_html: {value: current_user ? current_user.first_name : "" }  %>
      <%= f.input :last_name, input_html: {value: current_user ? current_user.last_name : "" } %>
      <%= f.input :email, input_html: {value: current_user ? current_user.email : "" } %>
      <%= f.input :phone, input_html: {value: current_user ? current_user.phone : "" } %>
    </div>

    <div class="checkout-section checkout-billing">
      <h2>Billing Details</h2>
      
      <%= f.input :billing_address, input_html: {value: current_user ? current_user.billing_address : "" } %>
      <%= f.input :billing_suburb, input_html: {value: current_user ? current_user.billing_suburb : "" } %>
      <%= f.input :billing_zip, input_html: {value: current_user ? current_user.billing_zip : "" } %>
      <%= f.input :billing_state, input_html: {value: current_user ? current_user.billing_state : "" } %>
    </div>

    <div class="checkout-section checkout-shipping">
      <h2>Shipping Details</h2>
      <%= f.input :shipping_address, input_html: {value: current_user ? current_user.shipping_address : "" } %>
      <%= f.input :shipping_suburb, input_html: {value: current_user ? current_user.shipping_suburb : "" } %>
      <%= f.input :shipping_zip, input_html: {value: current_user ? current_user.shipping_zip : "" } %>
      <%= f.input :shipping_state, input_html: {value: current_user ? current_user.shipping_state : "" } %>
    </div>

    <div class="checkout-section checkout-payment">
      <h2>Payment method</h2>

      <%= f.input :credit_card_number, input_html: {value: current_user ? current_user.credit_card_number : "" } %>
      <%= f.input :credit_card_name, input_html: {value: current_user ? current_user.credit_card_name : "" } %>
      <%= f.input :credit_card_expire_date, input_html: {value: current_user ? current_user.credit_card_expire_date : "" } %>
      <%= f.input :credit_card_ccv, input_html: {value: current_user ? current_user.credit_card_ccv : "" } %>

      <%= f.submit "Complete Purchase" %>
    </div>

    
  <% end %>
</div>