<div class="center">
  <h1>Order Confirmation #<%= @checkout.slug %></h1>

  <h3>Status: <%= @checkout.status %></h3>

  <h5>Subtotal: <%= number_to_currency(@checkout.order.subtotal) %></h5>
  <h5>Custo de envio <%= number_to_currency(@checkout.order.shipment_cost) %></h5>

  <table>
    <tr>
      <th>Item</th>
      <th>Quantity</th>
      <th>Unit price</th>
      <th>Total</th>
      <th>Ação</th>
    </tr>
    <% @checkout.order.order_items.each do |order_item| %>
      <tr>
        <td><%= order_item.stock.product.name %></td>
        <td><%= order_item.quantity %></td>
        <td><%= number_to_currency(order_item.unit_price) %></td>
        <td><%= number_to_currency(order_item.total_price) %></td>
        <td>
          <%= link_to 'Solicitar troca', new_return_path(stock_id: order_item.stock_id, quantity: order_item.quantity) %>
        </td>
      </tr>
    <% end %>
  </table>
</div>