<div class="center">
  <h1>Products</h1>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Título</th>
        <th scope="col">Author</th>
        <th scope="col">Year</th>
        <th scope="col">Creation date</th>
      </tr>
    </thead>
    
    <tbody>
      <% @products.each do |product| %>
        <tr>
          <td><%= link_to product.id, edit_product_path(product.id) %></td>
          <td><%= product.name %></td>
          <td><%= product.author %></td>
          <td><%= product.year %></td>
          <td><%= product.created_at %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= link_to "New product", new_product_path, class: "custom-button" %>
</div>
