<div class="product">
  <div class="image-gallery">
     <div>
        <% @product.pictures.each do |picture| %> 
          <%= image_tag(picture.image.url(:product), :class => "slider") %>
        <% end %>
        <div id="previous"></div>
        <div id="next"></div>
        <div class="image-gallery-links">
          <% @product.pictures.each_with_index do |picture, index| %> 
            <a href="<%= index + 1 %>"><%= index + 1 %></a>
          <% end %>
       </div>
     </div>
  </div>

  <div class="product-details">
    <% if @product.on_sale %>
    <% end %>

    <h2><%= @product.name %></h2>
    <% if @product.on_sale && @product.old_price %>
      <h3><span class="old-price">$<%= @product.old_price %>0</span>$<%= @product.price %>0</h3>
    <% else %>
      <h3><%= number_to_currency(@product.price)%></h3>
    <% end %>
    <p><%= @product.description %></p>

    <hr>
    <%= form_for @order_item, remote: true, :html => { id: "add-to-cart-form" } do |f| %>
      <div>
        <p>Quantity:</p>
        <%= f.select :quantity, (1..@product.quantity), {}, value: @product.quantity.to_i %>
        <div>
          <%= f.hidden_field :product_id, value: @product.id %>
          <br>
        <%= f.submit "Add to Cart", class: "custom-button text-sm" %>
        </div>
      </div>
    <% end %>

    <hr>
    <h4>Informations</h3>
      <p>Author: <%= @product.author %></p>
      <p>Year: <%= @product.year %></p>
      <p>Publisher: <%= @product.publisher %></p>
      <p>Edition: <%= @product.edition %></p>
      <p>ISBN: <%= @product.isbn %></p>
      <p>Pages number: <%= @product.pages %></p>
      <p>Dimensions: <%= @product.dimensions %></p>
      <p>Barcode: <%= @product.barcode %></p>
  </div>

</div>
