<!DOCTYPE html>

<html>
  <head>
    <title>BookStore</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('favicon.png') %>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Ecommerce | Check out our products">
    <meta name="keywords" content="website, ecommerce">
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <%= link_to "BookStore", root_path, class: "navbar-brand" %>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <% if user_signed_in? %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <%= current_user.first_name %>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <% if current_user.admin %>
                  <%= link_to "Gerenciar produtos", products_path, class: 'dropdown-item' %>
                  <%= link_to "Gerenciar categorias", categories_path, class: 'dropdown-item' %>
                  <%= link_to "Gerenciar base de usuários", manage_user_index_path, class: 'dropdown-item' %>
                  <%= link_to "Estoque", stocks_path, class: 'dropdown-item' %>
                  <%= link_to "Pedidos", orders_path, class: 'dropdown-item' %>
                  <%= link_to "Solicitações de troca", return_requests_path, class: 'dropdown-item' %>
                  <%= link_to "Análises de negócio", business_analysis_index_path, class: 'dropdown-item' %>
                  <hr>
                <% end %>
                <%= link_to "Meus pedidos", checkouts_path, class: 'dropdown-item' %>
                <%= link_to "Meus pedidos de troca", returns_path, class: 'dropdown-item' %>
                <%= link_to "Meus cupons", coupoms_path, class: 'dropdown-item' %>
                <%= link_to "Meu perfil", edit_user_registration_path, class: 'dropdown-item' %>
                <%= button_to "Sair", destroy_user_session_path, method: :delete, alt: "Log Out", title: "Log Out", class: 'dropdown-item' %>
              </div>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to "Entrar", new_user_session_path, class: "btn btn-success" %>
            </li>
          <% end %>
        </ul>
      </div>
    </nav>

    <div class="main-panel">
      <div class="container">
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
  
        <%= yield %>
      </div>
    </div>

    <footer class="my-5 pt-5 text-muted text-center text-small">
      <p class="mb-1">&copy; 2017-2018 Company Name</p>
      <ul class="list-inline">
        <li class="list-inline-item"><a href="#">Privacy</a></li>
        <li class="list-inline-item"><a href="#">Terms</a></li>
        <li class="list-inline-item"><a href="#">Support</a></li>
      </ul>
    </footer>
  </body>
</html>
